<% @employees.each do |employee| %>
<tr>
  <td><%= employee.name %></td>
  <td><%= employee.at_work %></td>
  <td><%= employee.breaks %></td>
  <td><%= employee.huddle %></td>
  <td><%= employee.one_on_ones %></td>
  <td><%= employee.team_meetings %></td>
  <td><%= employee.other %></td>
  <td><%= employee.other_meetings %></td>
  <td><%= employee.training %></td>
</tr>
<% end %>
