<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.employees.any? %>
      <h3>Available Hours (<%= @user.employees.count %>)</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>At Work?</th>
          <th>Breaks</th>
          <th>Huddle</th>
          <th>One on Ones</th>
          <th>Team Meetings</th>
          <th>Other</th>
          <th>Other Meetings</th>
          <th>Training</th>
      </tr>
        <%= render @employees %>
      </table>
      <%= will_paginate @employees %>
    <% end %>
  </div>
</div>
